POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Cloudflare tunnel
TUNNEL_TOKEN=

PGADMIN_USER=

# Optional overrides, default to localhost:5432
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432

DATABASE_URL=

SESSION_SECRET=
APP_PASSWORD_HASH_B64=
